.info-box {
	background: #fff;
	border: 1px solid #ddd;
	padding: 20px;
	&__img {}
	&__title {
		color: var( --db-title-color, #333 ) !important;
	}
	&__desc {
		color: var( --db-content-color, #888 );
	}
}
